<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
  <section id="information-section">
    <a>
      <svg viewBox="100 100 50 32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M 150.07 131.439 L 131.925 100 L 122.206 105.606 L 137.112 131.439 L 150.07 131.439 Z M 132.781 131.439 L 120.797 110.692 L 111.078 116.298 L 119.823 131.439 L 132.781 131.439 Z M 109.718 121.401 L 115.509 131.439 L 102.551 131.439 L 100 127.007 L 109.718 121.401 Z" fill="black"></path></svg>
    </a>
    <ul>
      <li><a href="#">매장안내</a></li>
      <li><a href="#">공지사항</a></li>
      <li><a href="#">FILA MEMBERSHIP</a></li>
      <li><a href="#">단체 판매</a></li>
      <li><a href="#">대리점 개설문의</a></li>
    </ul>
    <p>
      대구 중구 반월당 코리아아이티아카데미(주)     개발자: 이성훈 <br>
      사업자등록번호 : 000-00-00000 <br>
      개인정보 관리책임자 : 없어요 <br>
      <br>
      본 사이트는 테스트로 만든 겁니다 가짜에용
    </p>
  </section>

  <div>
    <section id="sns-icon-section">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    </section>

    <section id="devloper-infomation-section">
      <button type="button">개발자에게 문의</button>
      <div>
        <span>0000-0000</span>
        <span>fnvit@naver.com</span>
      </div>
      <span>평일 월 - 금 14 - 24시 (공휴일 제외)</span>
    </section>
  </div>
</footer>
</body>
</html>