<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="faq-header"  th:fragment="header">
    <div class="faq-title">
        <h1>고객센터</h1>
        <span>무엇을 도와드릴까요?</span>
    </div>
    <nav>
        <ul>
            <li><a href="/customer_service/faq">FAQ</a></li>
            <li><a href="/customer_service/one_on_one">1:1문의</a></li>
        </ul>
        <section class="faq-search-section">
            <label id="faq-search-word"><input type="text" placeholder="질문 키워드를 입력해주세요"></label>
            <label id="faq-search-keyword">
                <select>
                    <option>제목</option>
                    <option>작성자</option>
                    <option>내용</option>
                </select>
            </label>
            <button id="faq-search-btn" type="button">검색</button>
        </section>
    </nav>
</section>
</body>
</html>