@import "public/public.css";

*{
    --main-max-width: 2000px;
}

li{
    display: inline-block;
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: var(--main-max-width);
    margin: 0 auto;
    padding: 20px 0;
    background-color: white;
    z-index: 99;
}

header > section{
    padding: 0 40px;
}

#top-menu-section nav{
    text-align: right;

}

#top-menu-section a{
    font-size: var(--font-size-small);
}
#top-menu-section a::after{
    content: "|";
    margin: 0 8px;
}
#top-menu-section a:last-child::after{
    content: none;
}
/**********************************************************/
#main-menu-section{
    position: relative;
    padding: 20px 0;
}
#main-menu-section > svg{
    display: flex;
    width: 60px;
    top: 0;
    left: 40px;
    align-items: center;
    position: absolute;
    height: 100%;
}

#main-menu-nav{
    display: inline-block;
    width: 100%;
    font-size: var(--font-size-x-large);
    text-align: center;
    font-weight: bold;
}

#main-menu-nav li{
    margin: 0 10px;
    padding: 4px 0;
    border-bottom: 3px solid white;
    cursor: pointer;
}
#main-menu-nav li:hover{
    border-bottom: 3px solid black;
}

#menu-icon-nav {
    display: flex;
    top: 0;
    right: 40px;
    align-items: center;
    position: absolute;
    height: 100%;
    /*transform: translateY(-50%);*/
    font-size: var(--font-size-large);
}

#menu-icon-nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 5px;
}
#menu-icon-nav a:hover{
    background-color: white;
    color: mediumvioletred;
}

/*******************************/
#sub-menu-section{
    /*display: none;*/
    display: block;
    text-align: center;
    width: 100%;
    font-size: var(--font-size-medium);
}
#sub-menu-section > ul{
    padding: 40px 0;
}

#sub-menu-section li{
    display: none;
    text-align: center;
}

#sub-menu-section li[active]{
    display: block;
}
#sub-menu-section .sub-menu-list{
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
}
#sub-menu-section .sub-menu-list li{
    display: block;
    margin-bottom: 8px;
    text-align: left;
}
#sub-menu-section .sub-menu-list li:first-child{
    margin-bottom: 13px;
    font-weight: bold;
}
#sub-menu-section .sub-menu-list a{
    /*color: white;*/
}
#sub-menu-section .sub-menu-list a:hover{
    opacity: 0.8;
}

#new-and-features-menu > div > ul{
    margin-bottom: 30px;
}
/******************************************************************/
main{
    margin-top: 136px;
}
main > section:first-child{
    max-width: var(--main-max-width);
    margin: 0 auto;
}
main > section:not(:first-child){
    width: 1600px;
    margin: 100px auto;
    /*padding: var(--main-padding-left-right);*/
}


#main-top-section{

}
.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 80%; /* Slide covers 80% of the viewport */
}

/*
    fill: 비율 무시. 가로 세로를 크기에 맞게 꽉채움
    contain: 지정한 크기에 맞게 비율 유지한채 채울수있는 만큼 꽉채움
    cover: 비율 유지한 채 가로와 세로가 꽉 찰때까지 늘림
    none: 원본 크기 상관없이 가운데 정렬
    scale-down: 원본보다 작아지며 contain 과 비슷하게 됨
*/


#main-top-section > video{
    width: 100%;
    display: block;
    object-fit: fill;
}


/**************************/
#main-popular-items-section{

}

.popular-items-select-btn-div > button{
    padding: 5px 30px;
    margin-bottom: 20px;
    margin-right: 4px;
    font-size: var(--font-size-large);
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}
.popular-items-select-btn-div > button:hover{
    background-color: black;
    color: white;
}

.popular-item-container{

}

.popular-item-container > .item{
    display: inline-block;
    width: 300px;
    margin: 0 5px;
    border: 1px solid white;
    cursor: pointer;
}
.popular-item-container > .item:hover{
    border-color: black;
}

.popular-item-container > .item:hover .price{
    transform: translateY(-8px);
}

.popular-item-container > .item:first-child{
    margin-left: unset;
}
.popular-item-container > .item > .item-img{
    position: relative;
    width: 100%;
    height: 280px;
    background-position: center;
    background-size: cover;
}
.popular-item-container > .item i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: orangered;
    cursor: pointer;
    font-size: var(--font-size-x-large);
}
.popular-item-container > .item .price {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: white;
    padding: 2px 6px;
    transition-duration: 0.5s;
}
.popular-item-container > .item > h4{
    margin: 4px 0;
    padding: 0 8px;
    font-size: var(--font-size-large);
    font-weight: normal;
}
.popular-item-container > .item > .category{
    display: block;
    margin: 4px 0 10px 0;
    padding: 0 8px;
    font-size: var(--font-size-small);
    color: rgba(0,0,0,0.6);
}


/*#your-lacoste > h1{*/
/*    padding: 5px 30px;*/
/*    margin-bottom: 20px;*/
/*    margin-right: 4px;*/
/*    font-size: var(--font-size-large);*/
/*    background-color: white;*/
/*    font-weight: bold;*/

/*}*/
/*#your-lacoste > ul > li{*/
/*    margin-right: 20px;*/
/*    padding: 5px 10px;*/

/*}*/
/*.embla__slide > img{*/
/*    width: 100%;*/
/*    display: block;*/
/*    object-fit: fill;*/
/*}*/

/*.your-lacoste-div{*/
/*    font-weight: bold;*/
/*    font-size: var(--font-size-large);*/
/*    text-decoration: underline;*/

/*}*/

footer{
    width: var(--main-max-width);
    margin: 0 auto;
    background-color: #F9F5D1;

    padding: 50px 50px;
}
footer #information-section{
    display: inline-block;
    margin-right: 100px;
}
footer #information-section svg{
    width: 50px;
}

footer #information-section li{
    margin: 20px 0;
}
footer #information-section li:after{
    content: "|";
    margin: 0 10px;
}

footer #information-section li:last-child:after{
    content: unset;
}

footer #information-section p{
    font-size: var(--font-size-small);
    color: rgba(0,0,0,0.5);
}

footer > div{
    display: inline-block;
    vertical-align: top;
}

#sns-icon-section > a{
    display: inline-block;
    font-size: var(--font-size-large);
    margin: 10px 10px 10px 0;
}

#devloper-infomation-section > button{
    font-size: var(--font-size-large);
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 4px 20px;
    background-color: var(--color-strong);
    cursor: pointer;
}
#devloper-infomation-section > button:hover{
    opacity: 0.8;
}
#devloper-infomation-section > div{
    margin: 5px 0;
}
#devloper-infomation-section > div > span{
    display: block;
    font-size: var(--font-size-xx-large);
    font-weight: bold;
}
#devloper-infomation-section > span{
    font-size: var(--font-size-small);
    color: rgba(0,0,0,0.6);
}



